<div class="content">
  <mat-card  fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
  <h3>Upload an Image of the Pest Here</h3>
  <input type="file" name="image" (change)="fileProgress($event)" />
  <div *ngIf="fileUploadProgress">
    Upload progress: {{ fileUploadProgress }}
  </div>
    <div class="mb-3" *ngIf="wrongFileType">
      Only images are accepted.
    </div>

  <div class="image-preview mb-3" *ngIf="previewUrl">
    <mat-card>
    <img [src]="previewUrl" height="500" width="500" />
    </mat-card>
  </div>


  <div class="mb-3" *ngIf="uploadedFilePath">
    {{uploadedFilePath}}
  </div>

  <div >
    <button *ngIf="!progress" class="btn btn-primary" mat-raised-button [disabled]="!previewUrl" (click)="onSubmit()">Submit</button>
    <p  *ngIf="progress">Fetching results...</p>
    <mat-progress-bar  *ngIf="progress" mode="indeterminate"></mat-progress-bar>
  </div>
  </mat-card>
</div>
<mat-divider></mat-divider>
<app-search-results  *ngIf="showResults" [predictionsResult]="predictions" ></app-search-results>
